// 480
@media only screen and (max-width: $screen-xs-max) {
  .dropdown-menu-login, .dropdown-menu-visualizacoes, .dropdown-menu-mensagens, .dropdown-menu-favoritos {
    min-width: 300px;
  }

  .dropdown-menu-favoritos {
    width: 355px;
  }

  .dropdown-menu-visualizacoes {
    width: 355px;
  }
  .dropdown-menu-login {
    width: 395px;
  }
  .dropdown-menu-mensagens {
    width: 395px;
  }

  .logo {
    margin: auto;
  }

  .formulario-pesquisa {
    width: 356px;
    margin-left: -178px;
    margin-top: -280px;
  }

  .mais-opcoes-container {
    .checkbox {
        margin-top: 0;
        margin-bottom: 0;
      }
  }

  #noty_topRight_layout_container {
    top: 150px !important;
  }

  footer {

    text-align: center;
    
    .faixa {
      span {
        display: none;
      }
    }

    form {
      input {
        margin: auto;
      }
    }

    #social {
      font-size: 2em !important;
    }

  }

  .banners-home {

    .banner-1 {

      h1 {
        font-size: 1.7em !important;
      }

      span {
        top: 150px;
        right: 70px; 

        img {
          max-height: 150px;
        }
      }

    }

    .banner-2 { 
      svg {
        max-width: 100px;
      }
    }

    .banner-3 { 
      svg {
        max-width: 140px;
      }
    }

  }


.comece-sua-busca {
  .area-comece-sua-busca {
    max-width: 300px;
    margin: auto;
  }

  .nav-tabs {
    li {
      margin-left: 5px;
    }
  }
  .nav {
    li {
      a {
        padding: 10px;
      }
    }
  }
}

  .ordenar {
    button {
      margin-top: 0;
    }
  }

  .nav-tabs-justified {

    li {

      a {
        min-height: 0px;
      }

    }
    
  }
  

}

// 768
@media only screen and (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {

  .dropdown-menu-favoritos {
    width: 500px;
  }

  .dropdown-menu-visualizacoes {
    width: 500px;
  }
  .dropdown-menu-login {
    width: 450px;
  }
  .dropdown-menu-mensagens {
    width: 600px;
  }

  .logo {
    margin: auto;
  }

  .mais-opcoes-container {
    .checkbox {
        margin-top: 0;
        margin-bottom: 0;
      }
  }

  #noty_topRight_layout_container {
    top: 140px !important;
  }

  .ordenar {
    button {
      margin-top: 0;
    }
  }

  .gerenciador {
    .nav-tabs-justified {

    li {

      a {
        min-height: 60px;
      }

    }

    }
  }

  

  
}

// 992
@media only screen and (min-width: $screen-md-min) and (max-width: $screen-md-max) {

  .dropdown-menu-favoritos {
    width: 882px;
  }

  .dropdown-menu-visualizacoes {
    width: 882px;
  }
  .dropdown-menu-login {
    width: 450px;
  }
  .dropdown-menu-mensagens {
    width: 600px;
}

  .mais-opcoes-container {
    .checkbox {
        margin-top: -10px;
        margin-bottom: 0;
      }
  }


}

// 1200
@media only screen and (min-width: $screen-lg-min) {

  
  .dropdown-menu-favoritos {
    width: 992px;
  }
  .dropdown-menu-visualizacoes {
    width: 992px;
  }
  .dropdown-menu-login {
    width: 450px;
  }
  .dropdown-menu-mensagens {
    width: 600px;
  }

  .mais-opcoes-container {
    .checkbox {
        margin-top: -10px;
        margin-bottom: 0;
      }
  }

  #noty_topRight_layout_container {
  top: 100px !important;
}

}



/*-----------------------------------------------------------------*/
/* MEDIA QUERYS DO CAROUSEL MOVE ONE
/*-----------------------------------------------------------------*/

.carousel-showmanymoveone .carousel-control {
  width: 4%;
  background-image: none;
}
.carousel-showmanymoveone .carousel-control.left {
  margin-left: 15px;
}
.carousel-showmanymoveone .carousel-control.right {
  margin-right: 15px;
}
.carousel-showmanymoveone .cloneditem-1,
.carousel-showmanymoveone .cloneditem-2,
.carousel-showmanymoveone .cloneditem-3 {
  display: none;
}

@media all and (min-width: 768px) {
  .carousel-showmanymoveone .carousel-inner > .active.left,
  .carousel-showmanymoveone .carousel-inner > .prev {
    left: -50%;
  }
  .carousel-showmanymoveone .carousel-inner > .active.right,
  .carousel-showmanymoveone .carousel-inner > .next {
    left: 50%;
  }
  .carousel-showmanymoveone .carousel-inner > .left,
  .carousel-showmanymoveone .carousel-inner > .prev.right,
  .carousel-showmanymoveone .carousel-inner > .active {
    left: 0;
  }
  .carousel-showmanymoveone .carousel-inner .cloneditem-1 {
    display: block;
  }
}
@media all and (min-width: 768px) and (transform-3d), all and (min-width: 768px) and (-webkit-transform-3d) {
  .carousel-showmanymoveone .carousel-inner > .item.active.right,
  .carousel-showmanymoveone .carousel-inner > .item.next {
    -webkit-transform: translate3d(50%, 0, 0);
            transform: translate3d(50%, 0, 0);
    left: 0;
  }
  .carousel-showmanymoveone .carousel-inner > .item.active.left,
  .carousel-showmanymoveone .carousel-inner > .item.prev {
    -webkit-transform: translate3d(-50%, 0, 0);
            transform: translate3d(-50%, 0, 0);
    left: 0;
  }
  .carousel-showmanymoveone .carousel-inner > .item.left,
  .carousel-showmanymoveone .carousel-inner > .item.prev.right,
  .carousel-showmanymoveone .carousel-inner > .item.active {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    left: 0;
  }
}
@media all and (min-width: 992px) {
  .carousel-showmanymoveone .carousel-inner > .active.left,
  .carousel-showmanymoveone .carousel-inner > .prev {
    left: -25%;
  }
  .carousel-showmanymoveone .carousel-inner > .active.right,
  .carousel-showmanymoveone .carousel-inner > .next {
    left: 25%;
  }
  .carousel-showmanymoveone .carousel-inner > .left,
  .carousel-showmanymoveone .carousel-inner > .prev.right,
  .carousel-showmanymoveone .carousel-inner > .active {
    left: 0;
  }
  .carousel-showmanymoveone .carousel-inner .cloneditem-2,
  .carousel-showmanymoveone .carousel-inner .cloneditem-3 {
    display: block;
  }
}
@media all and (min-width: 992px) and (transform-3d), all and (min-width: 992px) and (-webkit-transform-3d) {
  .carousel-showmanymoveone .carousel-inner > .item.active.right,
  .carousel-showmanymoveone .carousel-inner > .item.next {
    -webkit-transform: translate3d(25%, 0, 0);
            transform: translate3d(25%, 0, 0);
    left: 0;
  }
  .carousel-showmanymoveone .carousel-inner > .item.active.left,
  .carousel-showmanymoveone .carousel-inner > .item.prev {
    -webkit-transform: translate3d(-25%, 0, 0);
            transform: translate3d(-25%, 0, 0);
    left: 0;
  }
  .carousel-showmanymoveone .carousel-inner > .item.left,
  .carousel-showmanymoveone .carousel-inner > .item.prev.right,
  .carousel-showmanymoveone .carousel-inner > .item.active {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    left: 0;
  }
}