/*diversos*/
* 		 		{ margin:0; padding:0; }
body			{ background-color:#fff; background-position:top; background-repeat:no-repeat; }
#clear 			{ clear: both; }


/*titulos*/
h1		 		{  }
h2				{  }
h3				{  }

/*links*/
a:link			{  }
a:visited		{  }
a:hover			{  }
a:active		{  }

/*paragrafos*/
p				{  }

/*total*/
#total 			{ width:100%; margin: 0 auto; padding: 0; }
.um				{ height: 2310px; background-image: url(../images/01.jpg); background-position: top center; }
.dois			{ height: 2310px; background-image: url(../images/02.jpg); background-position: top center; }
.tres			{ height: 2840px; background-image: url(../images/03.jpg); background-position: top center; }
.quatro			{ height: 1995px; background-image: url(../images/04.jpg); background-position: top center; }
.cinco			{ height: 1515px; background-image: url(../images/05.jpg); background-position: top center; }
.seis			{ height: 956px; background-image: url(../images/06.jpg); background-position: top center; }
.sete			{ height: 1555px; background-image: url(../images/07.jpg); background-position: top center; }
.oito			{ height: 1033px; background-image: url(../images/08.jpg); background-position: top center; }
.nove			{ height: 1033px; background-image: url(../images/09.jpg); background-position: top center; }
.dez			{ height: 1033px; background-image: url(../images/10.jpg); background-position: top center; }
.onze			{ height: 849px; background-image: url(../images/11.jpg); background-position: top center; }
.doze			{ height: 1218px; background-image: url(../images/12.jpg); background-position: top center; }
.treze			{ height: 1085px; background-image: url(../images/13.jpg); background-position: top center; }
.quatorze		{ height: 906px; background-image: url(../images/14.jpg); background-position: top center; }
.quinze			{ height: 749px; background-image: url(../images/15.jpg); background-position: top center; }
.dezesseis		{ height: 828px; background-image: url(../images/16.jpg); background-position: top center; }