.banners-home {

	width: 100%; 
	height: auto;
	background-color: #fff;

	ul {
		margin: 40px 0;
		padding: 0;

		li {
			list-style: none;
			min-height: 300px;
			width: 100%;
			margin: 10px 0 0 0;
			padding: 40px;
			position: relative;
		}
	}

	h1 {
		font-size: 1.8em;
		line-height: 1em;
		font-family: $font-family-primary;

		abbr {
			color: #b1ded3;
		}
	}

	p {
		font-size: 0.8em;
		line-height: 1.2em;
		font-family: $font-family-primary;
		text-align: center;
	}

	.banner-1 {
		background-image: url(../img/banner-1.jpg);
		background-repeat: no-repeat;
		background-color: #2d4954;

		h1 { color: $verde-base; }

		span {
			float: right;
			position: absolute;
			top: 40px;
			right: 40px;
		}
	}

	.banner-2 {
		background-image: url(../img/banner-2.jpg);
		background-repeat: no-repeat;
		background-color: #5a1c2f;

		h1 { color: $rosa-base; width: 150px; margin: auto; }
		p  { color: $rosa-base; }

		svg {
			max-width: 140px;
		}
	}

	.banner-3 {
		background-image: url(../img/banner-3.jpg);
		background-repeat: no-repeat;
		background-color: #291e42;

		h1 { color: $lilas-base; text-align: center; font-size: 1.3em; }
		p  { color: $lilas-base; }

		svg {
			max-width: 180px;
		}
	}

	.banner-4 {
		background-image: url(../img/banner-4.jpg);
		background-repeat: no-repeat;
		background-color: #ed5b29;

		h1 { color: #fff; font-size: 1.3em; right: 30%; top: 20%; position: absolute; }
		p  { color: #fff; }

		span {
			float: right;
			position: absolute;
			top: 180px;
			right: 40px;
		}
	}
}