.comece-sua-busca {

	.controls {

		position: relative;
		a {text-decoration: none;}

		.left {
			position: absolute;
			left: -45px;
			top: 155px;
			&:hover {
			text-decoration: none;
			}
			&:active {
			text-decoration: none;
			}
		}

		.right {
			position: absolute;
			right: -45px;
			top: 155px;
			&:hover {
			text-decoration: none;
			}
			&:active {
			text-decoration: none;
			}
		}
	}


	h1 {
		font-family: $font-family-primary;
		font-size: 1.3em;
		text-align: center;
		color: $laranja-base;
		padding: 60px 0;
	}

	ul {
		li {
			a {
				font-family: $font-family-primary;
				font-size: 0.6em;
			}
		}
	}

	.nav-tabs {

		li {
		
			margin-left: 40px;
			margin-bottom: -2px;

			a {
				border: 1px solid $laranja-base;
			}

			a:hover{
				border: 1px solid $laranja-base;
			}

			a:focus {
				border: 1px solid $laranja-base;
			}
		}

		li.active {

			a {
				border: 1px solid $laranja-base;
			}

			a:hover{
				border: 1px solid $laranja-base;
			}

			a:focus {
				border: 1px solid $laranja-base;
			}
		}
	}

	.tab-content {
		border: 1px solid $laranja-base;
		padding: 60px;
	}

	.area-comece-sua-busca {

	  h5 {
	    margin: 0 0 4px 0;
	  }

	  h6 {
	    margin: 0;
	  }

	  p {
	    font-size: 11px;
	    margin: 0;
	    color: $gray;
	  }

	  .item {

	    margin-top: 10px;

	    .item-content {

	      .nota-avaliacao {

	        p:first-child {
	        font-size: 14px;
	        font-weight: bolder;
	        }

	      }

	      .photo {
	        padding-top: 40px;
	        padding-bottom: 10px;

	        img {
	          border: solid 1px $azul-escuro-base;
	        }

	      }

	      .bairro {
	        font-size: 12px;
	        vertical-align: middle;
	      }

	      .preco {
	        font-size: 12px;
	        font-weight: bolder;
	      }

	      button {
	        color: #fff;
	        text-transform: uppercase;
	      }

	      .tipo-de-estabelecimento {
	        margin-top: 10px;
	        font-size: 13px;
	      }

	      .periodo {
	        margin-top: 10px;
	        font-size: 12px;
	      }
	      
	    } 

	  }

	}
}