.descricao-hotel {
	width: 100%;
	min-height: 260px;
	float: left;
	padding: 0;

  h5 {
    margin: 0;
    font-size: 18px;
  }

  h6 {
    margin: 0;
  }

  p {
    font-size: 14px;
    margin: 0;
    color: $gray;
  }

  img {
  	border: solid 1px $azul-escuro-base;
  }

  .foto {
  	margin-right: 10px;
  }

  .nota-avaliacao p:first-child {
	font-size: 0.6em;
	font-weight: bold;
  }

  .preco  {

  	margin-bottom: 10px;

  	span {
  		font-size: 16px;
  		font-weight: bold;
    }
  }

  .resumo {
  	margin: 20px 0;
  }

  .estabelecimento {
  	color: $azul-escuro-base;
  }

  .quarto {
	margin-bottom: 5px;
	font-size: 12px;
	color: $gray;
  }

  .endereco {
  	margin: 20px 0;
  	font-size: 12px;
	color: $gray;
  }

  .descricao {
  	margin: 10px 0;
  }

  .tipo-de-estabelecimento {
  	margin-top: 10px;
  }

  .cartoes {
  	font-size: 11px;
  }

  .comodidades {

  	h5	{
  		color: $azul-escuro-base;
  		font-size: 18px;
  	}
  	p {
  		margin: 10px 0;
  		font-weight: bold;

  		span {
  			font-weight: normal;
  		}
  	}

    margin: 20px 0;
    
  }

    .avaliacoes {

  	h5	{
  		color: $azul-escuro-base;
  		font-size: 18px;
  	}
  	p {
  		margin: 10px 0 0 0;
  		font-weight: bold;

  		span {
  			font-weight: normal;
  		}
  	}

    margin: 0;

    .progress-bar-media {
    	background-color: $laranja-base !important;
    }
    .progress-bar{
    	background-color: $azul-escuro-base;
    }
    
  }

  .favoritos {
  	input {

  		p {
  			font-size: 12px;

  		}
  	}
  	.toggle-handle {
  		width: 10px;
  	}
  	.toggle.btn-sm {
		width: 90px !important;
  	}
  	.toggle-on {
  		color: #fff;
  	}
  }



}