.filtrar {

	width: 100%;
	min-height: 320px;
	border: solid 1px $laranja-base;
	border-radius: 8px;
	padding: 20px;
	margin: 20px 0;

	h1 {
		font-family: $font-family-primary;
		font-size: 18px;
		color: $laranja-base;
		margin: 10px 0;
	}

	label {
		color: $laranja-base;
		font-size: $font-size-base;
	}

	label:hover:before {
		box-shadow: inset 0px 0px 2px 1px rgba(240, 48, 75, 0.7), 0px 0px 5px 0px rgba(240, 48, 75, 0.7) !important;
	}

	.radio, .checkbox {
		margin-top: 5px;
		margin-bottom: 5px;
		font-size: $font-size-base;
	}

	.checkbox-custom:before {
		background-color: #fff;
	}
	.checkbox-custom.checked:before {
		background-color: $laranja-base;
		border-color: $laranja-base;
	}

	

	.panel-default {
		border: 0;
	}

	.panel-default > .panel-heading {
		background-color: #fff;
		border: 0;
		padding: 0;
	}
	.panel-group 

	.filtrar .panel {
		box-shadow: 0 !important;
		-webkit-box-shadow: 0 !important;
		border: 0 !important;
	}

		.panel-heading + .panel-collapse > .panel-body, .panel-group .panel-heading + .panel-collapse > .list-group {
		border: 0;
	}

	.panel-title > a, .panel-title > small, .panel-title > .small, .panel-title > small > a, .panel-title > .small > a {
		color: $azul-escuro-base;
		text-decoration: none;
	}
}