.itens-listados {
	width: 100%;
	min-height: 260px;
	border-bottom: solid 1px #ccc;
	float: left;
	padding: 20px 0;

  h5 {
    margin: 0;
    font-size: 18px;
  }

  h6 {
    margin: 0;
  }

  p {
    font-size: 14px;
    margin: 0;
    color: $gray;
  }

  img {
  	border: solid 1px $azul-escuro-base;
  }

  .foto {
  	margin-right: 10px;
  }

  .nota-avaliacao p:first-child {
	font-size: 0.6em;
	font-weight: bold;
  }

  .preco  {

  	margin-bottom: 10px;

  	span {
  		font-size: 16px;
  		font-weight: bold;
    }
  }

  .estabelecimento {}

  .quarto {
	margin-bottom: 5px;
	font-size: 12px;
	color: $gray;
  }

  .endereco {
  	margin-bottom: 10px;
  	font-size: 12px;
	color: $gray;
  }

  .descricao {
  	margin: 10px 0;
  }

  .checkin {
    margin: 10px 0;
  }

  .checkout {
    margin: 10px 0;
  }

  .tipo-de-estabelecimento {
  	margin-top: 10px;
  }

}

.listados {

  .pagination-sm > li:first-child > a, .pagination-sm > li:first-child > span {
    border: 0;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }

  .pagination-sm > li:last-child > a, .pagination-sm > li:last-child > span {
    border: 0;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }

  .pagination > li > a, .pagination > li > span {
    border-radius: 20px;
    margin-left: 5px;
    border: solid 1px $laranja-base;
  }

  .pagination > li > a:hover, .pagination > li > a:focus, .pagination > li > span:hover, .pagination > li > span:focus {
    background-color: $laranja-base;
    color: #fff;
  }

}


