/*-----------------------------------------------------------------*/
/* CAROUSEL PESQUISA
/*-----------------------------------------------------------------*/
#slide-hotel {
	
	padding: 0;
	height: 500px;
	max-width: none;
	border-bottom: solid 1px $azul-escuro-base;
	margin: 0 0 40px 0;

	.carousel-inner {
		height: 100%;
		margin: auto;
		max-width: 1200px;
		overflow: hidden;

		.item {
			height: 100%;
			
			img {
				margin: auto;
				-webkit-box-shadow: 0px -15px 26px 1px rgba(0,0,0,0.75);
				-moz-box-shadow: 0px -15px 26px 1px rgba(0,0,0,0.75);
				box-shadow: 0px -15px 26px 1px rgba(0,0,0,0.75);
			}
		}

		.slide-bg {
			background-repeat:no-repeat;
			background-size:cover;
			background-color: $azul-escuro-base;
			background-position: center top;
		}

	}

	.carousel-indicators {
	    bottom: 0;
	    left: 0;
	    margin: 0 auto;
	    width: 100%;
	    padding: 20px;
	}

	.carousel-indicators li {
	    border: medium none;
	    border-radius: 0;
	    height: 50px;
	    margin-bottom: 5px;
	    margin-left: 0;
	    margin-right: 5px !important;
	    margin-top: 0;
	    width: 120px;
	    margin: auto;
	    border: 1px solid $azul-escuro-base;
	    background-color: $azul-escuro-base;
	}

	.carousel-indicators .active {
	    border: 1px solid $laranja-base;

	}

	a span:first-child {
	    background-color: #000;
	    border-radius: 40px;
	    width: 40px;
	    height: 40px;
	    padding: 8px 0;
	    font-size: 20px;

	}

}